body {
    background-color: 
    hsl(226, 43%, 10%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Rubik", sans-serif;
}




.hero {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    margin: 0 250px;
}



.hero__grid--row-2 {

    grid-row: 1 / 3;
    border-radius: 12px;
    background-color: hsl(235, 46%, 20%);
    
    
}

.hero__grid--inside {
    border-radius: 12px;
    width: 100%;
    height: 70%;
    background-color: hsl(246, 80%, 60%);
   
}

.hero__grid--inside-3 {
    padding: 1.5em;
    color: white;
}

.hero__grid--inside-4 {
    padding: 1.5em;
    padding-top: 0;
    color: white;
}
.grid__cursor {
    cursor: pointer;
    color: gray;
    
}
.grid__cursor:hover {
    color: white;
}

.hero__grid--inside--img {
    position: relative;
    width: 40px;
    border: solid;
    border-color: white;
    border-radius: 25px;
    border-width: 2px;
    cursor: pointer;
}

.hero__grid--center {
    padding: 1em;
    padding-top: 0;
    padding-bottom: 0;
}

.grid__space {
    margin-top: 15px;
    padding: 0;
    margin-bottom: 0;
    font-size: 40px;
    
}

.grid__space-2 {
    padding: 0;
    margin: 0;
    font-size: 12px;
    letter-spacing: 1px;
    color: gray;
}

.hero__grid---1 {
    
    background-color: hsl(235, 46%, 20%);
    border-radius: 12px;
    color: white;
}

.hero__grid---2 {
 
    background-color: hsl(235, 46%, 20%);
    border-radius: 12px;
    color: white;
}

.hero__grid---3 {
    background-color: hsl(235, 46%, 20%);
    border-radius: 12px;
    color: white;
}

.hero__grid---4 {
    background-color: hsl(235, 46%, 20%);
    border-radius: 12px;
    color: white;
}

.hero__grid---5 {
    background-color: hsl(235, 46%, 20%);
    border-radius: 12px;
    color: white;
    
}

.hero__grid---6 {
    background-color: hsl(235, 46%, 20%);
    border-radius: 12px;
    color: white;
}

.hero__grid--svg {
    width: 3.5em;
    margin-left: 75%;

}

.hero__grid--svg-1 {
    background-color:hsl(15, 100%, 70%);
    border-radius: 12px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    height: 25%;
    overflow: hidden;
}

.hero__grid--svg-2 {                                                                           
    background-color: hsl(195, 74%, 62%);
    border-radius: 12px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    height: 25%;
    overflow: hidden;
}

.hero__grid--svg-3 {
    background-color: hsl(348, 100%, 68%);
    border-radius: 12px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    height: 25%;
    overflow: hidden;
}

.hero__grid--svg-4 {
    background-color: hsl(145, 58%, 55%);
    border-radius: 12px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    height: 25%;
    overflow: hidden;
}

.hero__grid--svg-5 {
    background-color: hsl(264, 64%, 52%);
    border-radius: 12px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    height: 25%;
    overflow: hidden;
}

.hero__grid--svg-6 {
    background-color: hsl(43, 84%, 65%);
    border-radius: 12px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    height: 25%;
    overflow: hidden;
}

.hero__grid--space {
    padding: 1em;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
}

.hero__grid--elli {
    margin-top: 8px;
    width: 10px;
    height: 2px;
    cursor: pointer;
}

@media all and (max-width: 375px) {

    .hero {
        display: inline-block;
    }

    .hero__grid--inside-3 {
        display: flex;
    }

    .hero__grid--inside--img {
        width: 60px;
        object-fit: contain;
        border: none;
        padding-top: 0;
        margin-top: 6px;
        margin-bottom: 20px;
    }

    .hero__report {
        padding-top: 0;
        margin-top: 0px;
        font-size: 10px;
        white-space: nowrap;
    }

    .hero__jere {
        padding-top: 0;
        margin-top: 0;
        font-size: 23px;
        white-space: nowrap;
    }

    .hero__apart {
        padding-top: 0;
        margin-top: 12px;
        margin-left: 20px;

    }

    .hero__grid--inside-4 {
        display: flex;
        justify-content: space-between;
    }

    .hero__grid--center {
        display: flex;
        justify-content: space-between;
    }


    .grid__space-2 {
        margin-top: 40px;
    }


    .hero__grid--row-2 {
        margin-bottom: 1em;
    }

    .hero__grid---1 {
        margin-bottom: 1em;
    }
    .hero__grid---2 {
        margin-bottom: 1em;
    }
    .hero__grid---3 {
        margin-bottom: 1em;
    }
    .hero__grid---4 {
        margin-bottom: 1em;
    }
    .hero__grid---5 {
        margin-bottom: 1em;
    }
    
}